TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=bl_svitlopark_bot
TELEGRAM_CHAT_ID=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_ADMIN_USER_ID=
TELEGRAM_PUBLIC_CHAT_ID=
TELEGRAM_PUBLIC_URL=https://telegram.me/blacklist_svitlopark
PUBLIC_SITE_URL=https://bl-svitlopark.maxicolabs.com
PHONES_CSV_URL=
